<% include ../partials/head%>
<% include ../partials/header%>

<div class="container" style="margin-top: 40px">
		<div class="jumbotron" style="text-align: center; font-family: verdana; background-color: wheat;">
			<strong><h1>Emergency Contact</h1></strong>
		</div>
		<div class="well">
				<div>
						<h1>CONTACT INFO</h1>
						<hr>
						<!-- wrong numbers just for the sake of this page -->
						<h3>Phone number: 08131234563, 08021346723 or 07045724352</h3>
						<h3>Email: info@agrotech.com or admin@agrotech.com</h3>
					</div>

		</div>			
	</div>

<% include ../partials/footer%>
<% include ../partials/foot%>
























