<% include ../partials/head%>
<% include ../partials/header%>



<div class="container">
     <div style="width:30%; margin:25px auto;">
            <h1>SIMPLE ABOUT PAGE FOR THE FARM</h1>     
     </div>

</div>



<% include ../partials/footer%>
<% include ../partials/foot%>