<% include ../partials/head%>
<% include ../partials/header%>



<div class="container">
   <div style="width:30%; margin:25px auto;">
        <form action="/register" method="POST" role="form">
            <legend>
                <h1 style="color: green;">
                    Register here
                </h1>
            </legend>
            <div class="form-group">
                    <label for="" style="color: green;">FULL NAME (case sensitive)</label>
                    <input type="text" class="form-control" name="username" placeholder="full name">
                </div>

            <div class="form-group">
                        <label for="" style="color: green;"> DEPARTMENT</label>
                        <select name="department" id="" class="form-control">
                            <option value="health">Health</option>
                            <option value="feed">Feed</option>
                            <option value="livestock">Livestock</option>
                            <option value="admin">Admin</option>
                            <option value="help-desk">Help Desk</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="" style="color: green;">PASSWORD (case sensitive)</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Register!!!</button>
        </form>
   </div>
</div>



<% include ../partials/footer%>
<% include ../partials/foot%>