#body {
  /*padding: 50px;*/
  font: 15px "Baloo", cursive;
  /* background-color: #00CCCC; */
  /* line-height: 1.42857143; */
}
.jumbotron{
    color: #2C3E50;
    background: #ecf0f1;

}
.navbar{
  background-color: #2C3E50;
  border: 1px solid black;
}
.navbar-inverse .navbar-nav > li > a{
	/* color: wheat;
  background-color: transparent; */
}
#navbrand{
  color:rgb(6, 110, 40);
}


#get-started{
    /* margin-bottom: 70px; */
}

.thumbnail img {
    /* width: 100%; */
}

div .thumbnail {
    padding: 0;
}

/*.thumbnail .caption-full {
    padding: 10px;
}*/

#delete-form {
    /* display: inline; */
}
.nav-pills > li > a {
    border-radius: 4px;
    color: whitesmoke;
}
